<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
    <link rel="stylesheet" href="/css/main.css">
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//cdn.ractivejs.org/0.6.1/ractive.js"></script>
    <script src="/js/boot.js"></script>
    <script src="/js/questions.js"></script>
    <script src="/js/recognition.js"></script>
    <script src="/js/ui.js"></script>
</head>
<body>
<div id="content"></div>
</body>
</html>